<div class="container">
    <i class="fa-solid fa-sun"></i>
    <div class="row" style="font-size : 32px;margin-top: 5px">{{weatherdata.temp_celcius}}°</div>
    <div class="row" style="font-size : 12px;">{{weatherdata.temp_min}}°/ {{weatherdata.temp_max}}°</div>
    <div class="row" style="font-size : 12px;">Feels like : {{weatherdata.feels_like}}°</div>
    <div class="row" style="font-size : 25px;margin-top: 10px">{{weatherdata.name}}</div>
    <div class="row" style="font-size : 12px;">Humidity : {{weatherdata.main.humidity}}%</div>
    
</div>
